<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ title }} </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
</head>

<body>
    {% block content %} {% end %}
    {% block footer %}
    <div class="footer">
        © Copyright 2018-2019, dataisland.
        Created by <a href="https://dataisland.xyz/">dataisland</a>
    </div>
    {% end %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.1.1/dist/socket.io.min.js"></script>
</body>

</html>