<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fuzz.com</a>
        </div>
        <div class="ml-auto">
            <div class="navbar-right">
                <div class="px-2">
                    <a href="/login" class="btn btn-raised btn-info" role="button">Sign in</a>
                    <a href="/register" class="btn btn-outline-info" role="button">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mr-auto">
    <nav class="navbar navbar-default">
        <div class="container" style="justify-content: flex-start;">
            <a href="/" style="margin-right: 10px"> Home </a>
            <a href="/trains" style="margin-right: 10px"> Train </a>
            <a href="#" style="margin-right: 10px"> News </a>
            <a href="#" style="margin-right: 10px"> About </a>
        </div>
    </nav>
</div>