<nav class="navbar navbar-default" style="margin-bottom : 0px; border : none">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="margin-top: 5px; font-size: 35px; color:black">NeutronHub</a>
        </div>
        <div class="navbar-right">
            <a href="login"><button type="button" class="btn btn-lg btn-normal navbar-btn">Sign in</button> </a>
            <a href="register"><button type="button" class="btn btn-lg btn-info navbar-btn">Sign up</button></a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default" style="margin-bottom : 0px; border : none">
    <div class="container">
        <ul class="nav navbar-nav" style="font-size: 16px; color:black">
            <li class="active"><a href="#"> Home </a></li>
            <li><a href="#"> Train <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#"> News </a></li>
            <li><a href="#"> About <span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
</nav>