<style>
    .avatar {
        text-align: center;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<div class="card card-body text-left" style="background-color: #f5f5f5aa">
    <form id='upload' action='upload' enctype="multipart/form-data" method='post'>
        <input type='file' name='file' onchange="upload()" hidden />
    </form>
    <img name="img" class="avatar" src="/avatar">
    </img>
</div>

<div class="card card-body text-left" style="background-color: #f5f5f5aa;">
    <div class="row">
        <div class="col-md-9">
            <h3> {{ info[1] }} </h3>
            <p style="color:gray"> 你是第 {{ info[0] }} 位用户</p>
        </div>
    </div>
</div>

<div class="card card-body text-left" style="margin-top : 10px; background-color: #f5f5f5aa">
    <a href="/booking">My Booking</a>
    <hr />
    <a href="/profile">Profile</a>
    <hr />
    <a href="/setting">Setting</a>
</div>

<script>
    $("img[name='img']").click(function () {
        $('input[type=file]')[0].click();
    });
    function upload() {
        var form = $('form')[0];
        var file = $('input[type=file]')[0].files[0];
        var formData = new FormData(form);
        formData.append('image', file);
        formData.append('_xsrf', $("input[name=_xsrf]").val());

        console.log(file.size);
        if (file.size > 1024 * 10240) {
            alert("Avatar can not bigger than 10M");
            return false; 
        }

        $.ajax({
            url: '/upload_avatar',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.location.reload(true);
            },
            error: function (data) {
                alert('error');
            }
        });

        return true;
    };
</script>