{% extends "base.html" %}
{% block content %}
<div class="ui forms">
    <div class="fields">
        <div class="five wide field"></div>
        <div class="five wide field">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/login" method="POST">
                        {% raw xsrf_form_html() %}
                        <div class="form-group">
                            <input type="text" class="form-control left-border-none" name="username"
                                placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="save"> Remember me
                            </label>
                        </div>
                        <button type="signin" class="btn btn-warning     btn-block">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="five wide field"></div>
    </div>
</div>
{% end %}