{% extends "base.html" %}
{% block content %}
<style>
    .avatar {
        text-align: center;
        width: 5.5em;
        height: 5.5em;
        line-height: 2.5em;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="container container--mini" style="max-width: 380px; margin-top: 50px;">
                <div id="loginhint"></div>
                <div class="card card-body" style="background: rgba(255, 255, 255, 0.85)">
                    <img class="avatar" style="margin-top: 15px; margin-left: 120px;" src="/static/img/avatar.jpg">
                    <div class="mb-1 text-center">
                        <h2>Sign in</h2>
                    </div>
                    {% raw xsrf_form_html() %}
                    <div class="form-group form-group-lg">
                        <label>Username</label>
                        <input type="text" class="form-control left-border-none" name="username" placeholder="Username"
                            onkeydown="keyLogin();">
                    </div>
                    <div class="form-group form-group-lg">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password"
                            onkeydown="keyLogin();">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-lg">
                                <label>Code</label>
                                <input type="text" class="form-control" name="code" placeholder="Code"
                                    onkeydown="keyLogin();">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img name="code" src="/verify_code?{{ img_url }}" style="width:140px; height:50px; margin-top: 10px">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="save"> Remember me
                        </label>
                    </div>
                    <button id="login" class="btn btn-block btn-lg" style="background: #a880e4; color:white">Sign
                        In</button>
                    <script src="static/js/login.min.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function keyLogin() {
        if (event.keyCode == 13)
            document.getElementById("login").click();
    }
</script>
{% end %}
