{% extends "base.html" %}


{% block content %}

<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-3">
            {% include leftbar.html %}
        </div>
        <div class="col-md-9">
            <div id="updhint" class="d-none" role="alert"> Change Profile Successful! </div>
            <div class="card card-body text-left" style="background: rgba(255, 255, 255, 0.6)">
                <h2> Public Profile </h2>
                <hr><br />
                {% raw xsrf_form_html() %}
                <div class="form">
                    <label><b>Username</b></label>
                    <input type="text" class="form-control" name="username" value="{{ info[1] }}"
                        placeholder="Username">
                    <span name="username" style="color :red"></span>
                </div>
                <br /><br />
                <div class="form">
                    <label><b>Email</b></label>
                    <input type="text" class="form-control" name="email" value="{{ info[3] }}"
                        placeholder="you@example.com">
                    <span name="email" style="color :red"></span>
                </div>
                <br /><br />
                <div class="form">
                    <label><b>Phone number</b></label>
                    <input type="text" class="form-control" name="phone" value="{{ info[4] }}"
                        placeholder="Phone number">
                    <span name="phone" style="color :red"></span>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button id="update" class="btn btn-block" style="background: #a880e4; color:white">Update
                            Profile</button>
                    </div>
                </div>
                <script src="static/js/update.min.js"></script>
            </div>
        </div>
    </div>
</div>
{% end %}
