{% extends "base.html" %}


{% block content %}
<style>
    .avatar {
        text-align: center;
        width: 15.5em;
        height: 15.5em;
        line-height: 2.5em;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<div class="container" style="margin-top: 10px">
    <div class="row">

        <div class="col-md-3">
            {% include leftbar.html %}
        </div>
        <div class="col-md-9">
            <div class="card card-body text-left">

                <h2> Chnage Password </h2>
                <hr><br />
                <div class="form">
                    <label><b>Old password</b></label>
                    <input type="password" class="form-control" name="oldpassword" placeholder="Old password">
                </div>
                <br /><br />
                <div class="form">
                    <label><b>New pasword</b></label>
                    <input type="password" class="form-control" name="newpassword" placeholder="New password">

                </div>
                <br /><br />
                <div class="form">
                    <label><b>Confirm password</b></label>
                    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm password">
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button id="update" class="btn btn-block" style="background: #a880e4; color:white">Update
                            Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}