<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Admin Panel </title>
    <link href="static/admin/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="static/admin/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="box">
                    <div class="box-content">
                        <div class="text-center">
                            <h3 class="page-header">Neutron Admin Login</h3>
                        </div>
                        <form method="POST" action="admin/login">
                            {% raw xsrf_form_html() %}
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input type="text" class="form-control" name="name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" name="passwd" />
                            </div>
                            
                            <div class="text-center">
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>